

/*================================================== XXL Device ==================================================*/
@media (min-width:1400px) {
   
}



/*================================================== XL Device ==================================================*/
@media (min-width:1200px) and (max-width:1399.98px) {
   
}



/*================================================== LG Device ==================================================*/
@media (min-width:992px) and (max-width:1399.98px) {
   
}


/*================================================== MD Device ==================================================*/
@media (min-width:768px) and (max-width:991.98px) {
   /*---------------------------- Top Nav Ber section ----------------------------*/
   #top-bar{
      display: none;
   }

   /*--------------------- Loader Popup Banner Section Start ---------------------*/
   #popup_banner .popup_banner{
      width: 730px;
      height: 500px;
   }
   #popup_banner .popup_banner .popup_info form a {
   padding: 10px 30px;
   margin-left:-5px;
  }
   #popup_banner .popup_banner .popup_info form input.keyword {
   width: 70%;
   }

   /*--------------------------- HERO AREA SECTION START ---------------------------*/
   #hero .hero_slider{
      height:380px;
   }
   #hero .hero_slider h1 {
      font-size: 40px;
      line-height: 50px;
      color: var(--light-color);
      font-weight: 700;
      padding: 10px 0;
   }

   /*---------------------------- Feature section start ----------------------------*/
   #feature{
      margin: 80px 0;
   }
   #feature .feature_card img{
      width: 100%;
      margin-bottom: 25px;
   }

    /*-------------------------- Discount Banner section start-------------------------- */
    #discount_banner{
      height:450px;
   }
   #discount_banner .banner_info a{
      margin-bottom: 50px;
   }
   #discount_banner .banner_info h1 {
      font-size: 34px;
      line-height: 40px;
   }

   /*---------------------------- SELLER PRODUCT SECTION START ----------------------------*/
   #seller_product .seller_product .product_card{
      margin: 0 12px 24px;
      width:46%;
  }
  #seller_product .seller_product .product_card .product_card_thumb img{
   width: 100%;
  }
  /*------------------------------ Promotion Section Start------------------------------ */
  #promotion {
   transform: translatey(30%);
   }



   /*========================--------------- SHOP PAGE 2 START---------------======================== */
   /*------------- Shop Product List Section Star -------------*/
   #product_card .product_card_box .product_img img {
      /* width:100%; */
      display: flex;
      height:100%;
      align-items: center;
   }
   /*------------- Shop Product List Section End -------------*/
   /*========================--------------- SHOP PAGE 2 END -----------------========================*/
   #wishlist_card {
      width: 100%;
   }
   /* Blog Page  */
   #blog #tag .img{
      margin-bottom: 50px;
   }

/*================================ Blog Details page Start ================================*/
   /*------------- Blog left_side  Details Box section Start -------------*/
   #blog_details_box .blog_post_img img:nth-child(1){
      margin-bottom: 30px;
   }  
   #blog_details_box .left_side_details_box .comment_form form input:nth-child(2){
      width:100%;
      margin-left:0;
  }
  #blog_details_box .left_side_details_box .comment_form button{
   width:33%;
  }
  #tag img{
   width:100%;
  }
/*================================ Blog Details page End ==================================*/

/*=================================== Contact Page Start=================================== */
/*--------------------- CONTACT FORM SECTION START--------------------- */
#contact_form .form .form_group input{
   width: 100%;
}
#contact_form .contact_form_info{
   margin-top: 20px;
}
#contact_form .form .form_group textarea{
   padding: 15px 0 0 15px;
}
/*---------------------- CONTACT CONTENT SECTION ---------------------- */
.contact_box{
   margin-bottom: 20px;
}
/*=================================== Contact Page End===================================== */

/*================================== CHECK OUT PAGE START ==================================*/
#check_form_login .login_form form button {
   width: 20%;
 }
 #billing_details_form .optional_form{
   margin-top:30px;
 }
/*================================== CHECK OUT PAGE END ====================================*/


}





/*================================================== SM Device ==================================================*/
@media (min-width:576px) and (max-width:767.98px) {
    /*---------------------------- Top Nav Ber section ----------------------------*/
    #top-bar{
      display: none;
    }

    /*--------------------- Loader Popup Banner Section Start ---------------------*/
   #popup_banner .popup_banner{
      width:500px;
      height: 500px;
   }
   #popup_banner .popup_banner .popup_info form a {
   padding: 10px 30px;
   margin-left:10px;
   }
   #popup_banner .popup_banner .popup_info form input.keyword {
   font-size: 16px;
   padding: 9px 10px 12px 20px;
   width: 50%;
   }
   #popup_banner .popup_banner .popup_info p {
      font-size: 18px;
      line-height: 30px;
      padding: 0 40px 0 40px;
      color: var(--light-color);
    }
     /*--------------------------- HERO AREA SECTION START ---------------------------*/
     #hero .hero_slider{
      height:250px;
      }
       #hero .hero_slider h1 {
      font-size: 40px;
      line-height: 50px;
      color: var(--light-color);
      font-weight: 700;
      padding:10px 0 30px 0 ;
      }
      #hero .hero_slider P{
         display: none;
      }
      #hero .hero_slider h3{
         display: none;
      }


   /*---------------------------- Feature section start ----------------------------*/
   #feature{
      margin:45px 0;
   }
   #feature .feature_card img{
      width: 100%;
      margin-bottom: 25px;
   }
   #feature .feature_card img{
      width: 100%;
      margin-bottom: 25px;
   }

   /*-------------------------- Arrival product Section start --------------------------*/
   #arrival_product .container h1 {
      margin: 0 0 10px 0;
    }

   /*-------------------------- Discount Banner section start-------------------------- */
   #discount_banner{
      margin-bottom:-250px;
   }
   #discount_banner{
      height: 380px;
   }
   #discount_banner .banner_info a{
      margin-bottom: 50px;
   }
   #discount_banner .banner_info h1 {
      font-size: 34px;
      line-height: 40px;
   }


   /*---------------------------- SELLER PRODUCT SECTION START ----------------------------*/
   #seller_product .seller_product .product_card{
      margin: 0 12px 24px;
      width:97%;
  }
  #seller_product .seller_product .product_card .product_card_thumb img{
   width: 100%;
  }
  /*------------------------------ Promotion Section Start------------------------------ */
  #promotion {
   transform: translatey(30%);
   }
   /*----------------------------- FOOTER AREA SECTION START----------------------------- */
   #footer .footer_uppper .logo{
      margin: 20px 0;
   }
   #footer .footer_uppper .payment{
      margin: 10px 0 30px 0;
   }
   /*======================================= ABOUT PAGE STRT =======================================*/
/*======================================= ABOUT PAGE END =======================================*/




   /*========================--------------- SHOP PAGE 2 START---------------======================== */
 /*------------- Shop Product List Section Star -------------*/
 #product_card .product_card_box .product_img img {
   width:100%;
   display: flex;
   height:100%;
   align-items: center;
 }
 /*------------- Shop Product List Section End -------------*/
/*========================--------------- SHOP PAGE 2 END -----------------========================*/


/*================================ Blog Details page Start ================================*/
   /*------------- Blog left_side  Details Box section Start -------------*/
   #blog_details_box .blog_post_img img:nth-child(1){
      margin-bottom: 30px;
   }  
   #blog_details_box .left_side_details_box .comment_form form input:nth-child(2){
      width:100%;
      margin-left:0;
  }
  #blog_details_box .left_side_details_box .comment_form button{
   width:40%;
  }
#tag img{
   width:100%;
  }
/*================================ Blog Details page End ==================================*/

/*=================================== Contact Page Start=================================== */
/*--------------------- CONTACT FORM SECTION START--------------------- */
#contact_form .form .form_group input{
   width: 100%;
}
#contact_form .contact_form_info{
   margin-top: 20px;
}
#contact_form .form .form_group textarea{
   padding: 15px 0 0 15px;
}
/*=================================== Contact Page End===================================== */


/*================================== CHECK OUT PAGE START ==================================*/
#check_form_login .login_form form button {
   width:25%;
 }
 #billing_details_form .optional_form{
   margin-top:30px;
 }
/*================================== CHECK OUT PAGE END ====================================*/

/* =================================SHOP DETAILS PAGE START================================= */
#product_details .product_about .card_add .add_cart_btn{
   width: 40%;
}
#product_details .product_about .card_add .social_link i {
   width: 48px;
   height: 50px;
   margin-left: 0px;
 }

/* =================================SHOP DETAILS PAGE END=================================== */
}





/*================================================== XS Device ==================================================*/
@media (min-width:360px) and (max-width:575.98px) {
   /*---------------------------- Top Nav Ber section ----------------------------*/
   #top-bar{
      display: none;
   }
   /*---------------------------- Feature section start ----------------------------*/
   #feature .feature_card img{
      width: 100%;
      margin-bottom: 25px;
      }

/*------------------------------ Promotion Section Start------------------------------ */
#promotion {
   transform: translatey(20%);
}


  /*----------------------------- FOOTER AREA SECTION START----------------------------- */
  #footer .footer_uppper .logo{
   margin: 20px 0;
   }
   #footer .footer_uppper .payment{
      margin: 10px 0 30px 0;
   }


   
   /*========================--------------- SHOP PAGE 2 START---------------======================== */
 /*------------- Shop Product List Section Star -------------*/
 #product_card .product_card_box .product_img img {
   width:100%;
   display: flex;
   height:100%;
   align-items: center;
 }
 /*------------- Shop Product List Section End -------------*/
/*========================--------------- SHOP PAGE 2 END -----------------========================*/


/*================================== CHECK OUT PAGE START ==================================*/
#check_form_login .login_form form button {
   width:25%;
 }
 #billing_details_form .optional_form{
   margin-top:30px;
 }
/*================================== CHECK OUT PAGE END ====================================*/


  /*--------------------- Loader Popup Banner Section Start ---------------------*/
  #popup_banner .popup_banner{
   width:350px;
   height: 500px;
}
#popup_banner .popup_banner .popup_info form a {
   padding: 10px 30px;
   margin-left: 12px;
   width: 56%;
}
#popup_banner .popup_banner .popup_info form input.keyword {
   font-size: 16px;
   padding: 9px 10px 12px 20px;
   width: 90%;
}
#popup_banner .popup_banner .popup_info p {
   font-size: 16px;
    line-height: 27px;
    padding: 0 30px 0 30px;
    color: var(--light-color)
 }

 /*------------- Blog left_side  Details Box section Start -------------*/
 #tag img{
   width:100%;
  }
 /*------------- Blog left_side  Details Box section End -------------*/



/* =================================SHOP DETAILS PAGE START================================= */
#product_details .product_about .card_add .add_cart_btn{
   width: 40%;
   font-size: 10px;
}
#product_details .product_about .card_add .social_link{
   display: flex;
   padding: 10px;
   margin: 0;
}
#product_details .product_about .card_add .social_link i {
   width: 30px;
    height: 35px;
    line-height: 30px;
    margin-left: 0px;
    margin-right: 4px;
    font-size: 13px;
 }
 #product_details .product_about .card_add .add_cart_btn {
   padding: 9px 5px;
   margin-left: -50px;
   width: 30%;
    font-size: 13px;
 }
 #product_details .product_count button {
   margin: 0;
   background-color: transparent;
   padding:5px;
 }
 .product_count input {
   width: 16%;
   padding: 4px 0;
 }
/* =================================SHOP DETAILS PAGE END=================================== */

 /*---------------------------- SELLER PRODUCT SECTION START ----------------------------*/
 #seller_product .seller_product .product_card{
   margin: 0 12px 24px;
   width:100%;
}
#seller_product .seller_product .product_card .product_card_thumb img{
width: 100%;
}
.offer_info{
   
      background-position: center;
      background-size: cover;
   
}
/*=================================== Contact Page Start=================================== */
/*--------------------- CONTACT FORM SECTION START--------------------- */
#contact_form .form .form_group input{
   width: 100%;
}
#contact_form .contact_form_info{
   margin-top: 20px;
}
#contact_form .form .form_group textarea{
   padding: 15px 0 0 15px;
}
/*=================================== Contact Page End===================================== */

#offer h1 {
   font-size: 30px;
   margin-bottom: 50px;
 }

}



